.page_item{
    padding: 0 2px;
    cursor: pointer;
}
.pages_container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;;
}
.active_page{
    font-weight: bold;
    color: rgb(24, 24, 121);
    text-shadow: 1px 0 2px rgb(183, 183, 230);
}
