.menu_wrapper{
    background-color: 	#ff63ca;
    height: 100%;
}
.item {
    padding: 10px;
}
.item a{
    text-decoration: none;
    color: #92f5ff;
}

.item a.active{
    color: #f9ff94;
    font-weight: bold;
}