.description_block {
    margin: 10px;
    display: flex;
}
.description_block img {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    margin-right: 15px;
}
.download_block{
    width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.download_block button{
    margin-top: 10px;
}
.content_img {
    width: 100%;
}
.social_container{
    display: flex;
    width: 90%;
    align-items: center;
    flex-wrap: wrap;
}
.main_name{
    font-weight: bold;
    font-size: 18px;
    color: #ff63ca;
}
.socials{
    display: flex;
    flex-direction: column;
}
.save_button{
    margin-top: 10px;
}
.contacts_title{
    margin-top: 10px;;
}

